
.card--index{
    width: 100% !important;
    max-width: 500px !important;
    margin: 10px auto !important;
}


.main-container {
    padding: 0 10px !important;
    overflow-x: hidden !important;
}

.Vide {
    width: 90% !important;
    max-width: 400px !important;
    margin: 20px auto !important;
}
